<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>chatterbot | about us</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="static/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<style type="text/css">
<!--
.style1 {font-size: 14px}
-->
</style>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span>Chatter</span>Bot<br /></a></h1>
      </div>
      
      <div class="menu">
        <ul>
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/services"><span>Login</span></a></li>
          <li><a href="/about" class="active"><span>About Us</span></a></li>
          <li><a href="/contact"><span>Contact Us</span></a></li>
        </ul>
      </div>
      
            
        </form>
      </div>
      <div class="clr"></div>
    </div>
    <div class="headert_text_resize"> <img src="static/images/img_main.jpg" alt="" width="970" height="338" /> </div>
    <div class="clr"></div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="left">
        <h2>About Us<br /></h2>
         
       <h2> <p class="style1"><span class="style1">Short for chat robot, a computer program that simulates human conversation, or chat, through artificial intelligence. Typically, a chat bot will communicate with a real person, but applications are being developed in which two chat bots can communicate with each other. Chat bots are used in applications such as ecommerce customer service, call centers and Internet gaming. Chat bots used for these purposes are typically limited to conversations regarding a specialized purpose and not for the entire range of human communication.

One well known example of a chat bot is ALICE.

A chat bot is also called a chatterbot.</span></p>
     </h2>
        
      </div>
      <div class="right">
        <h2>Sidebar Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Login</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  
        <center><h2>Contact Info </h2>
        <p><strong>Phone</strong>: +1234567<br />
          <strong>Address</strong>: 123 pune India <br />
          <strong>E-mail:</strong> srchatterbot@gmail.com<br /></p></center>
         
      </div>
      
  
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">ChatterBot2018</a>.</p>
    
    </div>
   
 
</div>
</body>
</html>
